<header class="bg-gradient-to-tr from-gray-700 via-gray-900 to-black w-full">
    <div class="py-16 px-[200px] text-white">
      <h1 class="text-4xl mb-4">Welcome to our Anime Hub</h1>
      <p>
        It was built using API generated from
        <a
          href="https://docs.consumet.org/"
          class="py-1 px-3 text-gray-700 bg-white rounded"
        >
          Consumet
        </a>
      </p>
    </div>
  </header>
