---
export interface Props {
title: string;
}
const { title } = Astro.props;
console.log(title)
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="{Astro.generator}" />
    <title>{title}</title>
</head>

<body class="w-full">
    <nav class="py-4 px-[200px] border-gray-200 bg-gradient-to-tr from-gray-700 via-gray-900 to-black">
        <div class="flex flex-wrap items-center justify-between mx-auto">
            <a href="#" class="flex items-center">
                <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Tailwind CSS Anime Hub</span>
            </a>
            <div class="hidden w-full md:block md:w-auto">
                <input type="search" id="search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg" placeholder="Search" />
            </div>
        </div>
    </nav>
    <slot />
</body>

</html>
